<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="style/style.css">

        <link href='http://fonts.googleapis.com/css?family=Barlow+Condensed&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

        <title>Allert</title>
    </head>
    <body>
        <a href="index.html">
            <div class="logo col-xl-4 col-12 mt-2 ml-2"></div>
        </a>

        <main id="allert" class="col-xl-5 col-12 ml-auto mr-auto">
            <!--<form @submit.prevent = "addForm">-->
            <form @submit.prevent = "addForm">

                <input class="col-xl-12 col-12 form-control" v-model="email" type="email" name="email" id="email" placeholder="Adres email">

                <select class="col-xl-12 col-12 form-control float-left" v-model="disscount" required>
                    <option value="" disabled selected>Typ zniżki</option>
                    <option value="Procentowa">Procentowa</option>
                    <option value="Kwotowa">Kwotowa</option>
                </select>

                <input class="col-xl-12 col-12 form-control float-right" v-model="disscountValue" type="number" name="disscountValue" id="disscountValue" min="1" placeholder="Wartość zniżki">

                <input class="col-xl-12 col-12 form-control" v-model="url" type="url" name="url" id="url" placeholder="Adres URL produktu">


                <div class="col-xl-12 ml-auto mr-auto pr-0">
                    <button type="submit" name="button" 
                            class="confirmButton float-right">Dodaj
                    </button>
                </div>

            </form>
            <ul class="text-center">
                <li v-for="field in formInputs" class="col-xl-12">
                    <label>Adres email</label>
                    <div id="eemail" class="col-xl-12 col-12">{{field.email}}</div>
                    <label>Typ zniżki</label>
                    <div class="col-xl-12 col-12 mt-1">{{field.disscount}}</div>
                    <label>Wartość zniżki</label>
                    <div id="dissValue" class="col-xl-12 col-12 mt-1">{{field.disscountValueField}}</div>
                    <label>Adres URL produktu</label>
                    <div id="urlField" class="col-xl-12 col-12 mt-1">{{field.urlField}}</div>

                    <div class="col-xl-12 col-12 ml-0 mr-0">
                        <div class="col-xl-4 col-12 butt float-left" @click="removeForm(field)">Usuń</div>
                        <div class="col-xl-4 col-12 butt float-left" onclick="editForm()">Edycja</div>
                        <div class="col-xl-4 col-12 butt float-left mb-2">Zatwierdź</div>
                    </div>
                </li>
            </ul>
        </main>




        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://unpkg.com/vue"></script>
        <script type="text/javascript" src="js/app.js"></script>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="js/script.js"></script>
    </body>
</html>