* {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    box-sizing: border-box;
}
body {
    background-image: url(../photos/back.jpg);
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
    background-color: #cecece;
    color: #3e454c;
}
li {
    list-style-type: none;
    text-align: left;
}
input, select {
    border: none;
}
.form-control {
    color: black;
    text-align: left;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid #b1b0b0;
    margin-bottom: 15px;
    border-radius: 0px;
    transition: 0.2s;
}
#allert {
    margin-top: 20px;
    padding: 20px;
    opacity: 1;
    background: linear-gradient(to bottom, rgb(218, 218, 218) 0%,rgba(255,255,255,0) 100%);
    border-top: 1px solid #b1b0b0;
    border-radius: 5px;
    /* background-color: #dedede; */
}
ul {
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 600;
    background-color: ;

}
.logo {
    background-image: url(../photos/logo3.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 65px;
}
ul {
    padding: 0;
}
.form-control:focus {
    border-bottom: 1px solid #b1b0b0;
    box-shadow: none;
    background-color: transparent;
}
.confirmButton, .butt {
    margin-top:25px;
    background-color: #96ca30;
    border:none;
    color:#3e454c;
    height: 50px;
    border-bottom:1px solid #6c9619;
    border-radius: 5px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    word-spacing: 10px;
    font-weight: 700;
    transition: 0.2s linear;
}
.confirmButton:hover, .butt:hover {
    border-bottom:5px solid #6c9619;
    padding-top: 8px;
}
input::-webkit-input-placeholder {
    color: #999;
    padding-left: 0px;
    transition: 0.2s;
}
input:focus::-webkit-input-placeholder {
    color: transparent;
    font-size: 10px;
}
select:required:invalid {
    color: #6b747c;
    padding-left: 6px;
}
option[value=""][disabled] {
    display: none;
}
.text-center {
    padding: 15px;
    margin-top:85px;
    background-color: #dfdfe07a;
    padding-left: 0px;
    padding-right: 0px;
    display: none;
    transition: 2s;
}

.butt {
    height: 30px;
    border-bottom:2px solid #6c9619;
    background-color: #96ca30;
    padding-left: 0px;
    padding-right: 0px;
}
.butt:hover {
    padding-top: 5px;
}
.edit {
    background-color: #ffeb3b33;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;

}
label {
    font-size: 10px;
    border-left: 1px solid grey;
    padding-left: 5px;
}
.red-button {
    border-bottom: 2px solid #8c2b24;
    background-color: #F44336;
}
.red-button:hover {
    border-bottom:5px solid #8c2b24;
    padding-top: 5px;
}
.yellow-button {
    border-bottom: 2px solid #bd7101;
    background-color: #FFC107;
}
.yellow-button:hover {
    border-bottom:5px solid #bd7101;
    padding-top: 5px;
}

